
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFEBCD;
}

/*max-width is closely related to width.  max-width gives only a maximum, but will be smaller is the browser is less than 400 px wide.
margin is set to 0 on all sides.  The first value sets top and bottom margin.
    value will fill in any space on the right, and left of the margin.*/
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}



a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
	margin: 0 0 1em 0;
	}
	


/**********************************
HEADING
***********************************/

header{
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	}
	
#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
	}
	
nav li {
	display: inline-block;
	}
	
nav a {
	font-weight: 800;
	padding: 15px 10px;
	}
	

	

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #0000FF;
}


.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
	}
	


/**********************************
PAGE: PORTFOLIO
***********************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
width: 45%;
heigth: 45%;
  margin: 2.5%;
  background-color: #FFEBCD;
  color: #bdc3c7;
}

#gallery li a p {
	margin: 1% 0;
	padding: 1% 0;
	font-size: 1.2em;
	font-family: font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;

	background-color: #FFEBCD;
	}

#tester {
  max-width: 70%;
  max-height: 70%;
  margin: 0 auto;
  padding: 0 5%;
}
/**
#fleet {
  float: left;
  max-width: 940px;
  margin: 2.5% 2.5% 2.5% 2.5%;
  padding: 2.5% 2.5% 2.5% 2.5%;
  background-color: #FFEBCD;
}*/


/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #FFEBCD;
  color: #999;
}

/* green header */
header {
  background: #8B7355;
  border-color: #599a68;
}

/* nav background on mobile */
nav {
  background: #CDAA7D;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #8B8378;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #32673f;
}

#lastPar {
float: center;
	color: #000000;
  max-width: 940px;
  margin: 1.5% 1.5%;
  padding: 1.5% 1.55%;
	background-color: #FFEBCD;
}











