RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^/]*)$ /index.php?page=$1 [L]
RewriteRule ^careers/([^/]*)$ /index.php?page=careers&id=$1 [R]



IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*


<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
allow from all
</Limit>
#AuthName mmm1375
#AuthUserFile /usr/home/luelec/www/htdocs/_vti_pvt/service.pwd
#AuthGroupFile /usr/home/luelec/www/htdocs/_vti_pvt/service.grp
