<div class="container-fluid">
<div class = "well">
  <preview-job-posting job-posting="ctrl.jobPosting"></preview-job-posting>
</div>
  <div class="col-md-8 col-md-offset-2">
    <label>Status</label>
    <select class="form-control">
      <option value ="inactive">Inactive</option>
      <option value ="active">Active</option>
    </select>

    <label>Job Title</label>
    <input class ="form-control" type ="text" ng-model ="ctrl.jobPosting.jobTitle">

    <label>Job Description</label>
    <textarea class="form-control" ng-model="ctrl.jobPosting.jobDescription"></textarea>

    <label>About L.U.</label>
    <textarea class="form-control" ng-model="ctrl.jobPosting.aboutLu" ></textarea>

    <label>Contract Type</label>
    <select class="form-control" ng-model="ctrl.jobPosting.contractType">
      <option value ="Full-Time">Full-Time</option>
      <option value ="Part-Time">Part-Time</option>
    </select>

    <label>Addition Info</label>
    <textarea class="form-control" ng-model="ctrl.jobPosting.additionalInfo"></textarea>

    <file-upload file="ctrl.file"></file-upload>

    <add-many-locations title="Locations" src-array="ctrl.jobPosting.locations"></add-many-locations>


    <add-many-qualifications title="Qualifications" src-array="ctrl.jobPosting.qualifications"></add-many-qualifications>
  </div>
</div>
